.Response {
  background-color: white;
  height: 39.7vw;
  width: 105vh;
  margin-top: 10px;
  margin-right: 0.3vw;
  margin-bottom: 0.3vw;
  border: 1px solid lightgray;
  overflow: auto;
  padding: 1em;
}
